Repository ingecarlos/RENAPSys, pull requests merged in 2019-12, with the labels that each got.

#1 Update README.md
  README.md
Labels: pruebas

#2 Update welcome.blade.php
  RENAPSys/resources/views/welcome.blade.php
Labels: pruebas

#3 Prueba Unitaria Verificacion-Bienvenida
  RENAPSys/resources/views/welcome.blade.php
  RENAPSys/tests/Feature/unitariaBienvenidaTest.php
Labels: test

#4 test unitario CI/CD
  Jenkinsfile
  RENAPSys/.env.example
  RENAPSys/resources/views/welcome.blade.php
  RENAPSys/tests/Feature/unitariaBienvenidaTest.php
Labels: test

#5 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#6 Update Jenkinsfile
  Jenkinsfile
Labels: test

#7 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#8 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#9 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#10 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#11 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#12 test configuration
  Jenkinsfile
  RENAPSys/tests/Feature/ExampleTest.php
  RENAPSys/tests/Feature/phpunit.xml
  RENAPSys/tests/Feature/unitariaBienvenidaTest.php
Labels: configuracion, test

#13 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion, test

#14 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion, test

#15 configuration tests
  Jenkinsfile
  RENAPSys/tests/Feature/phpunit.xml
Labels: configuracion, test

#16 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#17 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion, test

#18 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#19 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#20 subir .env
  RENAPSys/.env
  RENAPSys/.gitignore
Labels: configuracion

#21 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion, test

#22 Update welcome.blade.php
  RENAPSys/resources/views/welcome.blade.php
Labels: pruebas

#23 Update welcome.blade.php
  RENAPSys/resources/views/welcome.blade.php
Labels: pruebas

#26 contenedores
  Jenkinsfile
  microservicios/servicio_prueba/Dockerfile
Labels: configuracion, microservicio

#27 contenedor servicio prueba
  Jenkinsfile
  microservicios/servicio_prueba/Dockerfile
Labels: codificacion, configuracion, microservicio

#28 contenedores
  microservicios/servicio_prueba/Dockerfile
Labels: codificacion, configuracion, microservicio

#30 Update Dockerfile
  microservicios/servicio_prueba/Dockerfile
Labels: configuracion, microservicio

#31 microservicio prueba
  Jenkinsfile
  microservicios/servicio_prueba/Dockerfile
  microservicios/servicio_prueba/apache-config.conf
  microservicios/servicio_prueba/index.php
  microservicios/servicio_prueba/www/index.php
Labels: microservicio

#32 Update Jenkinsfile
  Jenkinsfile
Labels: microservicio

#33 microservicios
  Jenkinsfile
  microservicios/servicio_defuncion/Dockerfile
  microservicios/servicio_defuncion/index.php
Labels: microservicio

#34 microservicios
  Jenkinsfile
  microservicios/servicio_divorcio/Dockerfile
  microservicios/servicio_divorcio/index.php
  microservicios/servicio_matrimonio/Dockerfile
  microservicios/servicio_matrimonio/index.php
Labels: microservicio

#35 Update Jenkinsfile
  Jenkinsfile
Labels: configuracion

#38 contenedores
  Jenkinsfile
  RENAPSys/Dockerfile
Labels: microservicio

#39 contenedor automatizado cliente interno
  Jenkinsfile
  RENAPSys/resources/views/welcome.blade.php
Labels: cliente_interno, microservicio

#40 Update Jenkinsfile
  Jenkinsfile
Labels: cliente_interno

#41 defuncion
  RENAPSys/app/Http/Controllers/DefuncionController.php
  RENAPSys/app/Http/Controllers/MatrimonioController.php
  microservicios/servicio_defuncion/library/config.php
Labels: microservicio

#42 Update config.php
  microservicios/servicio_defuncion/library/config.php
Labels: codificacion, configuracion

#43 Update config.php
  microservicios/servicio_defuncion/library/config.php
Labels: database

#44 Update config.php
  microservicios/servicio_defuncion/library/config.php
Labels: microservicio

#45 Update index.php
  microservicios/servicio_defuncion/index.php
Labels: database

#46 Update index.php
  microservicios/servicio_defuncion/index.php
Labels: microservicio

#47 cambios
  microservicios/servicio_defuncion/index.php
  microservicios/servicio_defuncion/library/config.php
Labels: microservicio

#49 Update index.php
  microservicios/servicio_matrimonio/index.php
Labels: microservicio

#50 microservicios
  RENAPSys/app/Http/Controllers/DivorcioController.php
  microservicios/servicio_matrimonio/index.php
Labels: microservicio

#51 codificación
  RENAPSys/tests/Feature/def.php
  microservicios/servicio_divorcio/index.php
  microservicios/servicio_matrimonio/index.php
Labels: microservicio, test

#52 nacimiento
  microservicios/servicio_nacimiento/index.php
  microservicios/servicio_nacimiento/library/config.php
Labels: microservicio

#53 nacimiento
  Jenkinsfile
  microservicios/servicio_nacimiento/Dockerfile
Labels: microservicio

#54 Update Jenkinsfile
  Jenkinsfile
Labels: microservicio

#55 nacimiento front end
  RENAPSys/app/Http/Controllers/NacimientoController.php
  RENAPSys/resources/views/nacimiento.blade.php
Labels: microservicio

#56 micro
  microservicios/servicio_nacimiento/index.php
Labels: microservicio

#57 micro
  RENAPSys/app/Http/Controllers/NacimientoController.php
  RENAPSys/resources/views/nacimiento.blade.php
Labels: microservicio

#59 Update servicio licencia
  microservicios/servicio_licencia/index.php
Labels: microservicio

#60 Actualizacion de Parametros y Respuestas Servicios
  microservicios/servicio_defuncion/index.php
  microservicios/servicio_divorcio/index.php
  microservicios/servicio_licencia/index.php
  microservicios/servicio_matrimonio/index.php
  microservicios/servicio_nacimiento/index.php
  microservicios/servicio_persona/index.php
  microservicios/servicio_persona/library/config.php
Labels: microservicio

#61 Actualizacion de servicios
  microservicios/servicio_defuncion/index.php
  microservicios/servicio_divorcio/index.php
  microservicios/servicio_matrimonio/index.php
  microservicios/servicio_nacimiento/index.php
  microservicios/servicio_persona/index.php
Labels: microservicio

#62 microservicios
  esb/apiFile.xml
  microservicios/servicio_divorcio/index.php
Labels: microservicio

#67 Actualizacion de entrega Json
  microservicios/servicio_divorcio/index.php
  microservicios/servicio_licencia/index.php
  microservicios/servicio_matrimonio/index.php
  microservicios/servicio_nacimiento/index.php
Labels: microservicio

#69 actualizacion servicios get
  microservicios/servicio_divorcio/index.php
  microservicios/servicio_nacimiento/index.php
  microservicios/servicio_persona/index.php
Labels: microservicio

#70 Update index.php
  microservicios/servicio_divorcio/index.php
Labels: microservicio

#72 Actualizacion de parametros servicio
  microservicios/servicio_divorcio/index.php
  microservicios/servicio_licencia/index.php
  microservicios/servicio_nacimiento/index.php
  microservicios/servicio_persona/index.php
Labels: microservicio

#73 Actualizacion de servicios
  microservicios/servicio_divorcio/index.php
  microservicios/servicio_persona/index.php
  microservicios/servicio_persona/library/config.php
  microservicios/servicio_persona/library/template.php
Labels: microservicio

#90 Servicios
  microservicios/servicio_cliente/index.php
  microservicios/servicio_cliente/library/config.php
  microservicios/servicio_cliente/library/template.php
Labels: microservicio

#91 Consumo de servicios
  Jenkinsfile
  RENAPSys/app/Http/Controllers/DefuncionController.php
  RENAPSys/app/Http/Controllers/DivorcioController.php
  RENAPSys/app/Http/Controllers/LicenciaController.php
  RENAPSys/app/Http/Controllers/MatrimonioController.php
  RENAPSys/app/Http/Controllers/NacimientoController.php
  RENAPSys/resources/views/dpi.blade.php
  RENAPSys/resources/views/info.blade.php
  RENAPSys/resources/views/licencia.blade.php
  RENAPSys/resources/views/nacimiento.blade.php
  RENAPSys/resources/views/welcome.blade.php
  RENAPSys/routes/web.php
  microservicios/servicio_persona/Dockerfile
Labels: cliente_interno

#94 Update index.php
  microservicios/servicio_persona/index.php
Labels: microservicio

#95 microservicio
  microservicios/servicio_esb/post/comunicacionesb/index.php
Labels: microservicio

#103 Update apache2.conf
  microservicios/servicio_esb/apache2.conf
Labels: microservicio

#104 micro
  microservicios/servicio_esb/apache2.conf
  microservicios/servicio_esb/post/comunicacionesb/.htaccess
Labels: microservicio

#105 Update .htaccess
  microservicios/servicio_esb/post/comunicacionesb/.htaccess
Labels: microservicio

#106 micro
  microservicios/servicio_esb/Dockerfile
  microservicios/servicio_esb/post/comunicacionesb/.htaccess
Labels: microservicio

#107 micro
  microservicios/servicio_esb/apache2.conf
  microservicios/servicio_esb/post/comunicacionesb/.htaccess
Labels: microservicio

#108 Update apache2.conf
  microservicios/servicio_esb/apache2.conf
Labels: microservicio

#110 Update apache2.conf
  microservicios/servicio_esb/apache2.conf
Labels: microservicio

#111 macri
  microservicios/servicio_esb/apache2.conf
  microservicios/servicio_esb/post/comunicacionesb/.htaccess
Labels: microservicio

#112 micro
  microservicios/servicio_esb/apache2.conf
  microservicios/servicio_esb/post/comunicacionesb/.htaccess
Labels: microservicio

#113 microservicio defuncion
  microservicios/servicio_defuncion/getDefuncion/index.php
  microservicios/servicio_defuncion/getDefuncion/library/config.php
  microservicios/servicio_defuncion/getDefuncion/library/template.php
  microservicios/servicio_defuncion/setDefuncion/index.php
  microservicios/servicio_defuncion/setDefuncion/library/config.php
  microservicios/servicio_defuncion/setDefuncion/library/template.php
Labels: microservicio

#114 microservicio defuncion
  microservicios/servicio_defuncion/apache2.conf
  microservicios/servicio_defuncion/getDefuncion/index.php
  microservicios/servicio_defuncion/setDefuncion/index.php
Labels: microservicio

#115 microservicios
  microservicios/servicio_defuncion/Dockerfile
  microservicios/servicio_esb/Dockerfile
Labels: microservicio

#116 esb
  microservicios/servicio_defuncion/getDefuncion/index.php
  microservicios/servicio_defuncion/setDefuncion/index.php
  microservicios/servicio_esb/post/comunicacionesb/index.php
Labels: microservicio

#117 servicio nacimiento
  microservicios/servicio_defuncion/getDefuncion/index.php
  microservicios/servicio_nacimiento/Dockerfile
  microservicios/servicio_nacimiento/apache2.conf
  microservicios/servicio_nacimiento/getNacimiento/index.php
  microservicios/servicio_nacimiento/getNacimiento/library/config.php
  microservicios/servicio_nacimiento/getNacimiento/library/template.php
  microservicios/servicio_nacimiento/setNacimiento/index.php
  microservicios/servicio_nacimiento/setNacimiento/library/config.php
  microservicios/servicio_nacimiento/setNacimiento/library/template.php
Labels: microservicio

#118 Update index.php
  microservicios/servicio_nacimiento/getNacimiento/index.php
Labels: microservicio

#119 Update index.php
  microservicios/servicio_nacimiento/setNacimiento/index.php
Labels: microservicio

#120 microservicio divorcios
  microservicios/servicio_divorcio/Dockerfile
  microservicios/servicio_divorcio/apache2.conf
  microservicios/servicio_divorcio/getDivorcios/index.php
  microservicios/servicio_divorcio/getDivorcios/library/config.php
  microservicios/servicio_divorcio/getDivorcios/library/template.php
  microservicios/servicio_divorcio/setDivorcio/index.php
  microservicios/servicio_divorcio/setDivorcio/library/config.php
  microservicios/servicio_divorcio/setDivorcio/library/template.php
Labels: microservicio

#122 micro
  Jenkinsfile
  microservicios/servicio_cliente/Dockerfile
Labels: microservicio

#123 actualizacion de microservicio licencia
  microservicios/servicio_cliente/setNuevaContraseña/index.php
  microservicios/servicio_licencia/getLicencia/index.php
Labels: microservicio
